{% extends 'musabaqah/base.html' %}
{% load tailwind_filters %}
{% load static %}

{% block content %}
<div class=" flex bg-gray-100 min-h-screen">
    <h3 class="md:hidden  text-2xl text-center font-bold p-20 items-center ">404 Device Cant access this page</h3>
       {% include 'musabaqah/sidebar.html' %}
   
       <main class=" hidden md:block flex-1 md:ml-64  p-6 overflow-auto" id="main-content">

        <header class="flex justify-between items-center mb-6">
            <button onclick="toggleSidebar()" class="md:hidden text-gray-800 hover:text-gray-600 focus:outline-none focus:shadow-outline mr-4">
                <svg class="w-6 h-6 fill-current" viewBox="0 0 24 24">
                    <path fill-rule="evenodd" d="M4 5h16a1 1 0 010 2H4a1 1 0 010-2zm0 6h16a1 1 0 010 2H4a1 1 0 010-2zm0 6h16a1 1 0 010 2H4a1 1 0 010-2z"/>
                </svg>
            </button>
            <div class="text-2xl font-bold text-gray-800">Musabaqah Admins</div>
            <div><a href="#add-user" class="text-blue-600 hover:underline flex items-center">
                <div class="rounded-full bg-blue-200 w-8 h-8 flex items-center justify-center mr-2">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-blue-600" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6v6m0 0v6m0-6h6m-6 0H6" />
                    </svg>
                </div>
                <span>New</span>
            </a></div>
        </header>

        <div class="overflow-x-auto mb-8">
            <table class="w-full table-auto border border-gray-300 rounded-lg overflow-hidden">
                <thead>
                    <tr class="bg-gray-800 text-white uppercase text-sm leading-normal">
                        <th class="py-3 px-6 text-left">Username</th>
                        <th class="py-3 px-6 text-left">Email</th>
                       
                    </tr>
                </thead>
                <tbody class="text-gray-700 text-sm font-light">
                    {% for user in admin %}
                    <tr class="border-b border-gray-200 hover:bg-gray-100">
                        <td class="py-3 px-6 text-left">{{ user.username|upper }} </td>
                        <td class="py-3 px-6 text-left">{{ user.email }}</td>

                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="5" class="py-4 text-center text-gray-500">No Admin found.</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <div id="add-user" class="bg-white p-6 rounded-lg shadow-md">
            <div class="flex justify-between">
                <h3 class="text-2xl font-semibold text-gray-800 mb-4">Add Super Admin</h3>
            </div>
            <div>
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
                        {{ form|crispy }}
                    </div>
                    <button type="submit"
                        class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline mt-4 flex items-center gap-2">
                        <i class="fas fa-paper-plane"></i>
                        Submit
                    </button>

                </form>
            </div>
        </div>

    </main>
</div>

<script>
    const sidebar = document.getElementById('sidebar');
    const mainContent = document.getElementById('main-content');

    function toggleSidebar() {
        sidebar.classList.toggle('-translate-x-full');
        mainContent.classList.toggle('ml-0');
        mainContent.classList.toggle('md:ml-64');
    }
</script>
{% endblock content %}
