{% load static %}  
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"
  integrity="sha512-..."
  crossorigin="anonymous"
  referrerpolicy="no-referrer"
/>

<aside
  id="sidebar"
  class="fixed inset-y-0 left-0 w-64 bg-gray-800 text-white rounded transform -translate-x-full md:translate-x-0 transition-transform duration-200 z-40 p-5 flex flex-col"
>
  <div class="mb-6 flex items-center">
    <img
      src="{% static 'images/quran.jpg' %}"
      alt="Logo"
      class="w-10 h-10 object-contain rounded-full mr-3"
    />
    <h1 class="text-xl font-bold">National Musabaqah</h1>
  </div>

  <nav class="flex-1">
    <ul class="space-y-4">
      <li>
        <a
          href="{% url 'dashboard' %}"
          class="flex items-center space-x-3 text-gray-300 hover:text-white"
        >
          <i class="fas fa-tachometer-alt"></i>
          <span>Dashboard</span>
        </a>
      </li>
      <li>
        <a
          href="{% url 'state-user' %}"
          class="flex items-center space-x-3 text-gray-300 hover:text-white"
        >
          <i class="fas fa-users"></i>
          <span>Coordinators</span>
        </a>
      </li>
      <li>
        <a
          href="{% url 'participants' %}"
          class="flex items-center space-x-3 text-gray-300 hover:text-white"
        >
          <i class="fas fa-users"></i>
          <span>Participants</span>
        </a>
      </li>
      <li>
        <a
          href="{% url 'post' %}"
          class="flex items-center space-x-3 text-gray-300 hover:text-white"
        >
          <i class="fas fa-plus-circle"></i>
          <span>Post</span>
        </a>
      </li>
      <li>
        <a
          href="{% url 'add-admin' %}"
          class="flex items-center space-x-3 text-gray-300 hover:text-white"
        >
          <i class="fas fa-users"></i>
          <span>Admins</span>
        </a>
      </li>
      <li>
        <a
          href="{% url 'logout-user' %}"
          class="flex items-center space-x-3 text-gray-300 hover:text-white"
        >
          <i class="fas fa-cogs"></i>
          <span>Logout</span>
        </a>
      </li>
    </ul>
  </nav>
</aside>
