 <!-- Desktop Sidebar -->
 <aside class="hidden md:block fixed top-16 left-0 w-64 bg-gray-800 shadow h-[80vh] z-40 rounded mt-6">
    <h1 class="text-xl text-white p-4 font-bold"><i class="fas fa-user-shield mr-2"></i>State Coordinator</h1>
    <nav class="p-4">
        <ul class="space-y-2 text-white">
            <li><a href="{% url 'state-board' %}" class="block px-4 py-2 rounded hover:bg-gray-100 hover:text-black"><i class="fas fa-home mr-2"></i> Dashboard</a></li>
            <li><a href="{% url 'state-part' %}" class="block px-4 py-2 rounded hover:bg-gray-100 hover:text-black"><i class="fas fa-users mr-2"></i> Participants</a></li>
            <li><a href="{% url 'state-cord' %}" class="block px-4 py-2 rounded hover:bg-gray-100 hover:text-black"><i class="fas fa-user-friends mr-2"></i> Coordinators</a></li>
            <li><a href="{% url 'logout-user' %}" onclick="return confirm('Are you sure you want to Logout?')" class="block px-4 py-2 rounded hover:bg-gray-100 hover:text-black"><i class="fas fa-sign-out-alt mr-2"></i> Logout</a></li>
        </ul>
    </nav>
</aside>